.navbar-brand {
    font-size: 20px;
}

.navbar {
    background-color: #FFFD57!important;
    
}

#submit-picture {
    cursor: pointer;
    color: #81ea8b;
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
}

#login, #sign-out, #create-account, #my-things {
    cursor: pointer;
    color: #81ea8b;
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
}
