.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #FFFD57 !important;
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
}

.navbar {
    background-color: #81ea8b !important;
}

.nav-link,
.google-button {
    cursor: pointer;
    color: white !important;
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
}

.google-button {
    background: none;
    border: none;
    margin-top: -1px;
}

.navbar-collapse {
    justify-content: flex-end;
}