#card {
    height: 450px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-style: groove;
    border-color: black;
    border-width: .5px;
    border-radius: 10px;
}

#selected-image {
    width: 350px;
    height: 300px;
    margin-top: 6%;
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    border-width: .5px;
    padding: 1%;

}

@media screen and (max-width: 768px) {
    #selected-image {
        width: 200px;
        height: 175px;
    }
}