#card {
    height: 250px;
    margin-top: 5%;
    background-color: white;
    border-style: groove;
    border-color: black;
    border-width: .5px;
}

#selected-image{
    width: 250px;
    height: 200px;
}