#card {
    height: 450px;
    margin-top: 5%;
    background-color: white;
    border-style: groove;
    border-color: black;
    border-width: .5px;
}

#selected-image{
    width: 350px;
    height: 300px;
    margin-top: 6%;
    border-style: groove;
    border-color: black;
    border-width: .5px;
    padding: 1%;

}