.comments-container {
    border-style: solid;
    width: 500px;
    height: 150px;
}

.comments-form {
    margin-top: 5%;
    padding: 10px;
    border-style: solid;
    border-width: .15px;
    background-color: #FFFD57;
    
}

.comment-list {
    margin-top: 5%;
    text-align: left;
    border-style: solid;
    border-width: .15px;
    padding-bottom: 1px;
}

.comments-header {
    margin: 10px;
}

#comment-submit {
    background-color: #81ea8b;
    border-style: none;
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
    width: 75px;
    margin-left: 75%;
}
#upvote-badge {
    background-color: lightgray;
    margin-right: 2%;
    margin-left: 2%;
}

#arrow-up, #arrow-down {
    padding: 1px;
    color: grey;
    font-size: 12px;
}

#arrow-down {
    margin-right: 7%;
}

#arrow-up:hover {
    color: green;
}

#arrow-down:hover {
    color: red;
}

.username {
    color: #E75F81;
    margin: 0;
    margin-top: 5%;
}

.comment-list {
    overflow: scroll;
    max-height: 225px;
}

.list-group-item {
   min-height: 60px;
    max-height: 60px;
}
.fas {
    margin-left: 7%;
    font-size: 12px;
    color: crimson;
}

.far {
    font-size: 12px;
    color: darkgreen;
}

.badge {
    background-color: white;
    width: 100px;
    color: dodgerblue;
    font-size: 15px;
}
.comment-date {

}