.App {
  text-align: center;
  font-family: 'Gaegu', cursive;
}

.card-container {
  height: 80%;
  margin: 2%;
  border-top-style: solid;
  border-top-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
